.LR_Button {
    -fx-font-family: "sans-serif";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px; 
    -fx-background-color: black;
    -fx-text-fill: #fff;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-pref-width: 300px; 
    -fx-pref-height: 30px; 
}

.LR_Button:hover {
    -fx-background-color: #252525;
}

.Info_Button {
    -fx-font-family: "sans-serif";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px; 
    -fx-background-color: black;
    -fx-text-fill: #fff;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-pref-height: 30px; 
}

.Info_Button:hover {
    -fx-background-color: #252525;
}

.Mid_Button {
    -fx-font-family: "sans-serif";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px; 
    -fx-background-color: black;
    -fx-text-fill: #fff;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-max-width: 100px;
    -fx-pref-height: 30px; 
}

.Mid_Button:hover {
    -fx-background-color: #252525;
}

.Mid_TextField {
    -fx-font-family: "sans-serif";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px; 
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-max-width: 100px; 
    -fx-pref-height: 30px; 
}

.Mid_Label {
    -fx-font-family: "sans-serif";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.Return_Button {
    -fx-font-family: "sans-serif";
    -fx-font-weight: bold;
    -fx-background-color: black;
    -fx-text-fill: #fff;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-pref-height: 30px; 
}

.Return_Button:hover {
    -fx-background-color: #252525;
}


.Menu_Button {
    -fx-font-family: "sans-serif";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px; 
    -fx-background-color: black;
    -fx-text-fill: #fff;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-pref-width: 300px; 
    -fx-pref-height: 30px; 
}

.Menu_Button:hover {
    -fx-background-color: #252525;
}


.imageView {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.75), 10, 0, 0, 0);
}

.root {
    -fx-background-color: #424242;
    -fx-border-color: black; 
    -fx-border-width: 2px; 
}

.root .title-bar {
    -fx-background-color: #ff0000; /* Couleur de la barre de titre */
}

.combo-box {
    -fx-color: black;
}